@charset "ISO-8859-1";

.main-button {
	text-decoration: none;
	font-size: 20px;
	color: white;
	
	padding: 5px;
	border-right: 1px solid white;
}

.main-button.--nav {
	font-size: 10px;
	border: none;
}