@charset "ISO-8859-1";

.main-button {
	width: 100%;
	text-decoration: none;
	line-height: 80px;
	font-size: 20px;
	color: white;
	
	padding: 5px;
	border-right: 1px solid white;
}

.main-button.--nav {
	font-size: 10px;
	line-height: 10px;
	border: none;
}

.main-button.--submit {
	height: 25px;
	background-color: #f8965d;
	font-size: 14px;
	line-height: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: none;
	
}

.main-button.--submit.--form {
	width: 100%;
	height: 25px;
	box-shadow: 5px 5px #f8965d88;
}

.main-button.--table {
	display: inline-block;
	width: 50%;
	height: 10px;
	background-color: #f8965d;
	font-size: 10px;
	line-height: 10px;
	box-shadow: 3px 3px #f8965d88;
	border: none;
}

.main-button.--summary {
	color: #6c6a69;
	text-decoration: none;
}

.main-button.--summary:hover {
	text-decoration: underline;
}