@charset "ISO-8859-1";

.main-section {
	width: 100%;
	height: 600px;
	background-color: #fbfaf9;
	
	margin-bottom: 10px;
}

.main-section .title {
	font-size: 50px;
	color: #6c6a69;
	margin-bottom: 10px;
}

.main-section .title.--alert {
	font-size: 15px;
	color: red;
}

.main-section > .title.--sucess {
	font-size: 15px;
	color: green;
}
	